@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ethnocentric";
  src: url("/fonts/ethnocentric.rg-regular.otf");
}

@font-face {
  font-family: "ubuntu";
  src: url("/fonts/ubuntu.regular.ttf");
}

body {
  overflow-x: hidden;
  background: linear-gradient(to bottom, #060119d4, #2b011d67), 
              radial-gradient(circle, #61036fb1, #5c015d);
}

p {
  color: white;
}